{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Add Your New Pet!</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field(class="form-control") }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-success">Add New Pet! Meow!</button>
                </div>
            </div>
        </form>
    </div>
    </form>
{% endblock %}